[submodule "prisma-cms/boilerplate"]
	path = prisma-cms/boilerplate
	url = https://github.com/prisma-cms/boilerplate
[submodule "prisma-cms/prisma-cms.com"]
	path = prisma-cms/prisma-cms.com
	url = https://github.com/prisma-cms/prisma-cms.com
[submodule "prisma-cms/prisma-cms.com--nextjs"]
	path = prisma-cms/prisma-cms.com--nextjs
	url = https://github.com/prisma-cms/prisma-cms.com
	branch = next-js
[submodule "freecodecamp/freeCodeCamp"]
	path = freecodecamp/freeCodeCamp
	url = https://github.com/freeCodeCamp/freeCodeCamp.git
[submodule "prisma-cms/freecode.academy"]
	path = prisma-cms/freecode.academy
	url = https://github.com/freecode-academy/freecode.academy
	branch = master
[submodule "n8n/n8n"]
	path = n8n/n8n
	url = git@github.com:freecode-academy/n8n.git
