version: "3.7"

services:
  prisma:
    ports:
      - "4466:4466"

  mysql:
    ports:
      - "3306:3306"

  front:
    volumes:
      - ./prisma-cms/${SITE:-boilerplate}/src:/www/${SITE:-boilerplate}/src
    command: bash -c "yarn deploy && yarn start"

  nextjs:
    volumes:
      - ./prisma-cms/prisma-cms.com--nextjs/src:/www/prisma-cms.com--nextjs/src
    command: bash -c "yarn dev"

  freecode_academy:
    volumes:
      - ./prisma-cms/freecode.academy/package.json:/www/freecode.academy/package.json
      - ./prisma-cms/freecode.academy/package-lock.json:/www/freecode.academy/package-lock.json
      - ./prisma-cms/freecode.academy/pages:/www/freecode.academy/pages
      - ./prisma-cms/freecode.academy/prisma:/www/freecode.academy/prisma
      - ./prisma-cms/freecode.academy/src:/www/freecode.academy/src
      - ./prisma-cms/freecode.academy/server:/www/freecode.academy/server
      - ./prisma-cms/freecode.academy/next.config.js:/www/freecode.academy/next.config.js
      # TODO Обновить призму и нексус, переписать серверное апи и удалить этот волюм
      # - ./prisma-cms/freecode.academy/node_modules/.prisma/client:/www/freecode.academy/node_modules/.prisma/client
    command: bash -c "yarn dev"
    ports:
      - 3030:3000
      - 4040:4000

  api:
    volumes:
      - ./prisma-cms/${SITE:-boilerplate}/src:/www/${SITE:-boilerplate}/src
    environment:
      - SendmailTest=true
    command: bash -c "yarn deploy && yarn start-server-dev"
    ports:
      - 4000:4000

  proxy:
    ports:
      - 2015:2015
      - 2443:2443

  pma:
    ports:
      - 8090:80

  mail:
    ports:
      - 1025:1025
      - 8025:8025

  freecodecamp:
    tty: true
    # user: node
    build:
      context: ./freecodecamp
    env_file:
      - .env
    # command: npm run develop
    command: npm run seed:challenges
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: mongo
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: "root"
      ME_CONFIG_BASICAUTH_PASSWORD: "mongo"
      ME_CONFIG_MONGODB_SERVER: "mongodb"
      # ME_CONFIG_MONGODB_ADMINUSERNAME: root
      # ME_CONFIG_MONGODB_ADMINPASSWORD: mongo

  tolgee:
    ports:
      - "25432:25432"
      - "8080:8080"

  supabase:
    ports:
      - 5432:5432

  pgadmin:
    ports:
      - 5050:80

  n8n:
    environment:
      - N8N_SECURE_COOKIE=false
    ports:
      - 5678:5678

  open-webui:
    image: ghcr.io/open-webui/open-webui:cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      # Это чтобы сваггер документация работала
      # https://github.com/open-webui/open-webui/discussions/6942#discussioncomment-12802712
      - ENV=dev
    ports:
      - "3123:8080"
