version: "3.7"

services:
  prisma:
    restart: unless-stopped

  mysql:
    restart: unless-stopped

  pma:
    restart: unless-stopped

  front:
    restart: unless-stopped
    environment:
      ENV_MODE: production
    build:
      args:
        - PUBLIC_URL=${PUBLIC_URL:-/}
        - ENV_MODE=production
        - endpoint=${prod_endpoint}
    command: yarn start-ssr

  nextjs:
    restart: unless-stopped
    environment:
      ENV_MODE: production
    build:
      args:
        - ENV_MODE=production
        - endpoint=${prod_endpoint}
    command: bash -c "yarn start"

  freecode_academy:
    restart: unless-stopped
    environment:
      ENV_MODE: production
    build:
      args:
        - ENV_MODE=production
        - endpoint=${prod_endpoint}
    command: bash -c "yarn start"

  api:
    restart: unless-stopped
    environment:
      - endpoint=${prod_endpoint}
    build:
      args:
        - ENV_MODE=production
        - endpoint=${prod_endpoint}
    command: "yarn start-server"

  proxy:
    restart: unless-stopped
    environment:
      - ACME_AGREE=true
    ports:
      - 80:80
      - 443:443

  nextjs-nexus:
    restart: always
    environment:
      ENV_MODE: production
    build:
      args:
        - ENV_MODE=production
    command: npm run start

  rtcmultyconnection:
    restart: unless-stopped

  coturn:
    restart: unless-stopped

  tolgee:
    restart: unless-stopped

  libretranslate:
    restart: unless-stopped

  supabase:
    restart: unless-stopped

  n8n:
    build:
      args:
        - ENV_MODE=production
    environment:
      ENV_MODE: production
      N8N_DELETE_CREDENTIALS_AFTER_IMPORT: true
    restart: unless-stopped
    command: npm run start
    labels:
      - "traefik.http.routers.n8n.entrypoints=websecure"
      - "traefik.http.routers.n8n.tls.certresolver=letsencrypt"
