version: "3.7"

services:
  prisma:
    image: prismagraphql/prisma:1.34
    # container_name: "prisma"

    # Uncomment for open ports
    # ports:
    # - '4466:4466'
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: mysql
            host: ${MYSQL_HOST:-mysql}
            port: ${MYSQL_PORT:-3306}
            # database: ${MYSQL_DB}
            user: ${MYSQL_USER:-root}
            password: ${MYSQL_PASSWORD}
            migrations: ${PRISMA_MIGRATIONS}
            rawAccess: ${PRISMA_RAW_ACCESS}
    # depends_on:
    #   - mysql

  mysql:
    image: mysql:5.7
    volumes:
      # NOTE: your data will be stored in ./mysql
      - ./mysql/data:/var/lib/mysql
      - ./mysql/conf.d:/etc/mysql/conf.d
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD:-your_mysql_password}

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: ${MYSQL_HOST:-mysql}
      PMA_PORT: ${MYSQL_PORT:-3306}
      UPLOAD_LIMIT: ${PMA_UPLOAD_LIMIT:-100M}
    # depends_on:
    #   - mysql

  front:
    tty: true
    build:
      context: ./prisma-cms
      network: ${NETWORK_NAME:-prisma-cms-default}
      args:
        - SITE=${SITE:-boilerplate}
        - ROLE=FRONT
        - ENV_MODE=development
        - endpoint=${dev_endpoint}
    volumes:
      # - schema:/www/${SITE:-boilerplate}/src/schema
      # - shared:/www/${SITE:-boilerplate}/shared
      - ./prisma-cms/${SITE:-boilerplate}/shared:/www/${SITE:-boilerplate}/shared
      - ./prisma-cms/${SITE:-boilerplate}/uploads:/www/${SITE:-boilerplate}/uploads
    env_file:
      - .env
    environment:
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - ENV_MODE=development

  nextjs:
    tty: true
    build:
      context: ./prisma-cms
      network: ${NETWORK_NAME:-prisma-cms-default}
      args:
        - SITE=prisma-cms.com--nextjs
        - ROLE=FRONT
        - ENV_MODE=development
        - endpoint=${dev_endpoint}
        - API_ENDPOINT=${API_ENDPOINT}
    volumes:
      - ./prisma-cms/${SITE:-boilerplate}/shared:/www/prisma-cms.com--nextjs/shared
      - ./prisma-cms/${SITE:-boilerplate}/uploads:/www/prisma-cms.com--nextjs/uploads
    env_file:
      - .env
    environment:
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - ENV_MODE=development

  freecode_academy:
    tty: true
    build:
      context: ./prisma-cms
      network: ${NETWORK_NAME:-prisma-cms-default}
      # dockerfile: Dockerfile.freecode.academy
      args:
        - SITE=freecode.academy
        # - ROLE=FRONT
        - ENV_MODE=development
        - endpoint=${dev_endpoint}
        - API_ENDPOINT=${API_ENDPOINT}
        - PWA=${PWA}
        - APP_SECRET=${APP_SECRET}
        - DATABASE_URL=${DATABASE_URL}
        - OPENAI_API_KEY=${OPENAI_API_KEY}
        - OPENAI_API_BASE_URL=${OPENAI_API_BASE_URL}
        - OPENAI_DEFAULT_MODEL=${OPENAI_DEFAULT_MODEL}
    volumes:
      - ./prisma-cms/freecode.academy/public:/www/freecode.academy/public
      - ./prisma-cms/freecode.academy/shared:/www/freecode.academy/shared
      - ./prisma-cms/freecode.academy/uploads:/www/freecode.academy/uploads
      - ./prisma-cms/freecode.academy/server/openaiClient/data:/www/freecode.academy/server/openaiClient/data
      # For any server config files, for example DKIM
      - ./opt:/opt
    env_file:
      - .env
    environment:
      - ENV_MODE=development
      # Deprecated
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - MAIN_AI_AGENT_USERNAME=${MAIN_AI_AGENT_USERNAME:-freecoder}

  api:
    tty: true
    build:
      context: ./prisma-cms
      network: ${NETWORK_NAME:-prisma-cms-default}
      args:
        - SITE=${SITE:-boilerplate}
        - ROLE=API
        - ENV_MODE=development
        - endpoint=${dev_endpoint}
    volumes:
      # - schema:/www/${SITE:-boilerplate}/src/schema
      - ./prisma-cms/${SITE:-boilerplate}/uploads:/www/${SITE:-boilerplate}/uploads

      # For any server config files, for example DKIM
      - ./opt:/opt
    # depends_on:
    #   - prisma
    env_file:
      - .env
    environment:
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - endpoint=${dev_endpoint}
      - GethServer=${ETHEREUM_GATEWAY:-https://cloudflare-eth.com}
      - MONGODB_URL=mongodb://mongodb:27017
      - LANG=ru_RU.UTF-8
      - LANGUAGE=ru_RU.UTF-8
    # entrypoint: /usr/bin/entrypoint-api.sh

  # web-server
  proxy:
    environment:
      - ACME_AGREE=true
    build:
      context: ./caddy
    volumes:
      - ./caddy/${CADDY_FILE:-Caddyfile}:/etc/caddy/Caddyfile

  # mail-server
  mail:
    image: mailhog/mailhog

  rtcmultyconnection:
    tty: true
    build:
      context: ./rtcmultyconnection
    command: yarn --ignore-engines start

  coturn:
    build:
      context: ./coturn
    volumes:
      - ./coturn/turnserver.conf:/etc/turnserver.conf
    ports:
      ## STUN/TURN
      - "3478:3478"
      - "3478:3478/udp"
      # - "3479:3479"
      # - "3479:3479/udp"
      # - "80:80"
      # - "80:80/udp"
      ## STUN/TURN SSL
      - "5349:5349"
      - "5349:5349/udp"
      # - "5350:5350"
      # - "5350:5350/udp"
      # - "443:443"
      # - "443:443/udp"
      # Relay Ports
      #      - "49152-65535:49152-65535"
      #      - "49152-65535:49152-65535/udp"

  tolgee:
    image: tolgee/tolgee
    volumes:
      - ./tolgee/data:/data
    env_file:
      - .env

  libretranslate:
    image: libretranslate/libretranslate
    user: "root"
    volumes:
      - ./libretranslate/db/argos-translate/packages:/root/.local/share/argos-translate/packages

  supabase:
    image: supabase/postgres:15.1.0.147
    volumes:
      - ./supabase/data:/var/lib/postgresql/data
      # - ./supabase/init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    environment:
      - POSTGRES_PASSWORD=${SUPABASE_DB_PASSWORD:-your_supabase_password}
      - POSTGRES_DB=${SUPABASE_DB_NAME:-postgres}
    env_file:
      - .env
    healthcheck:
      test: pg_isready -U postgres -h localhost
      interval: 5s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL:-admin@admin.com}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD:-admin}
    volumes:
      - ./pgadmin/backups:/var/lib/pgadmin/storage
    # depends_on:
    #   - supabase

  n8n:
    build:
      context: ./n8n
      network: ${NETWORK_NAME:-prisma-cms-default}
      args:
        - DB_POSTGRESDB_HOST=supabase
        - DB_POSTGRESDB_PORT=5432
        - DB_POSTGRESDB_DATABASE=n8n
        - DB_POSTGRESDB_USER=postgres
        - DB_POSTGRESDB_PASSWORD=${SUPABASE_DB_PASSWORD:-your_supabase_password}
    # restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=supabase
      - DB_POSTGRESDB_PORT=5432
      # - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=postgres
      - DB_POSTGRESDB_PASSWORD=${SUPABASE_DB_PASSWORD:-your_supabase_password}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
      - N8N_EDITOR_BASE_URL=${N8N_EDITOR_BASE_URL}
      # - N8N_HOST=${N8N_HOST:-localhost}
      # - N8N_PORT=${N8N_PORT:-5678}
      # - N8N_PROTOCOL=${N8N_PROTOCOL:-http}
      - N8N_PROXY_HOPS=1
      - WEBHOOK_URL=${N8N_WEBHOOK_URL}
      - N8N_DIAGNOSTICS_ENABLED=false
      - N8N_DIAGNOSTICS_CONFIG_FRONTEND=false
      - N8N_DIAGNOSTICS_CONFIG_BACKEND=false
    # links:
    #   - supabase
    volumes:
      # - ./n8n/n8n_storage:/home/node/.n8n
      - ./n8n/custom-nodes:/home/node/.n8n/custom
    # depends_on:
    #   postgres:
    #     condition: service_healthy

# volumes:
#   mysql:
# schema:
# shared:

networks:
  default:
    name: ${NETWORK_NAME:-prisma-cms-default}
